@tailwind base;
@tailwind utilities;

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

/* Tooltip container */
.p-tooltip {
  @apply bg-secondary-500 text-white text-xs rounded-md max-w-xs;
}

/* Tooltip inner text */
.p-tooltip-text {
  @apply bg-secondary-500 px-2 py-1;
}
